.card1 {
    position: absolute;
    background-color: #D7C9DB;
    top: 0;
}

.card2 {
    position: absolute;
    top: 8vw;
    background-color: #BAA7BF;
}

.card3 {
    position: absolute;
    top: 16vw;
    background-color: #86728B;
}